#content {
    width: 320px;
    max-height: 500px;
    overflow: auto;
}
#tran-form {
    width: 305px;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
#result .___mtt_translate_table{
    font-size: 12px;
}
.dropdown-menu.pull-right {
    max-height: 90px;
    overflow: auto;
}
.failTranslate {
    padding: 0 15px 15px 15px;
}
