@import "./_import";


body {
  width: 530px;
  max-height: 500px;
  overflow: auto;
  height: 120px;
  font-family: 'ProximaNova', sans-serif;
}

#translate-txt {
  font-size: 15px;
}

.select-language {
  padding: 0 5px;

  button {
    padding: 0;
  }
}

#content .___mtt_translate_table {
  font-size: 12px;

  img {
    width: auto !important;
    height: auto !important;
  }
}

.dropdown-menu.pull-right {
  max-height: 320px;
  overflow: auto;
}

.failTranslate {
  padding: 0 15px 15px 15px;
}


// Spinner
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 42%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #428bca;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #428bca transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}