@import "./_import";


body {
  width: 530px;
  max-height: 500px;
  overflow: auto;
  height: 120px;
  font-family: 'ProximaNova', sans-serif;
}

form.uk-grid {
  margin-bottom: 5px;

  &.uk-sticky-fixed {
    left: 0;
    padding: 5px 15px;

    .uk-first-column {
      padding-left: 0;
    }

    .translate-button {
      padding-left: 23px;
    }
  }

  .translate-button {
    padding-left: 28px;
  }
}

#translate-txt {
  font-size: 15px;
}

.select-language {
  padding: 0 3px;

  button {
    padding: 0;
  }
}

.uk-heading-small {
  margin-bottom: 15px;

  .heading {
    font-size: 20px;
    margin-left: -10px;
    color: #999;
  }
}

.translation {

  .uk-card-body {
    padding: 0 10px;

    &.uk-card-default {
      box-shadow: 1px 1px 8px -6px @dark-grey;
      background-color: @white;
    }

    .uk-card-title {
      margin-bottom: 5px;

      .speech-part {
        padding: 0 10px;
        font-size: 13px;
      }
    }

    .uk-table {

      th {
        padding: 0px 4px;
      }

      td {
        padding: 5px;
        color: @dark-grey;

        &:first-child {
          width: 112px;
        }

        .meaning-comment {
          color: @light-grey;
          font-size: 10px;
        }
      }
    }
  }
}

.dropdown-menu.pull-right {
  max-height: 320px;
  overflow: auto;
}

.failTranslate {
  padding: 0 15px 15px 15px;
}


.spinner {
  height: 50px;
  overflow: hidden;
}