<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Multitran translate</title>

  <body>
    <div class="uk-container">
      <h1 class="uk-heading-small">
        tran
        <span class="heading">slate with
          <a class="uk-link-heading" tabindex="-1" href="http://www.multitran.ru" title="Multitran.ru">Multitran</a>
        </span>
      </h1>
      <form class="uk-grid uk-background-default" uk-grid uk-sticky>
        <div class="uk-width-1-2">
          <input id="translate-txt" name="translate-txt" class="uk-input" placeholder="Введите слово для перевода" type="text">
        </div>

        <div class="uk-inline uk-width-1-4 select-language">
          <button class="uk-button uk-button-default uk-width-expand" type="button">
            <span class="label">Язык</span>
            <span uk-icon="icon:  triangle-down"></span>
          </button>
          <div uk-dropdown="mode: click">
            <ul class="dropdown-menu uk-nav uk-dropdown-nav">
              <li>
                <a href="#" data-val="1" class="language-type">Английский</a>
              </li>
              <li>
                <a href="#" data-val="3" class="language-type">Немецкий</a>
              </li>
              <li>
                <a href="#" data-val="4" class="language-type">Французский</a>
              </li>
              <li>
                <a href="#" data-val="5" class="language-type">Испанский</a>
              </li>
              <li>
                <a href="#" data-val="23" class="language-type">Итальянский</a>
              </li>
              <li>
                <a href="#" data-val="24" class="language-type">Голландский</a>
              </li>
              <li>
                <a href="#" data-val="27" class="language-type">Латышский</a>
              </li>
              <li>
                <a href="#" data-val="26" class="language-type">Эстонский</a>
              </li>
              <li>
                <a href="#" data-val="34" class="language-type">Эсперанто</a>
              </li>
              <li>
                <a href="#" data-val="1000" class="language-type">Турецкий (turkishdictionary.net)</a>
              </li>
            </ul>
          </div>
        </div>

        <button id="translate-button" class="uk-button uk-button-primary uk-width-1-4" name="translate-btn">
          Перевести
        </button>
      </form>

      <div id="content" v-if="seen">

        <div class="uk-card uk-card-default uk-card-body uk-margin" v-for="header in headers">
          <h3 class="uk-card-title">
            <a :href="header.url">{{ header.word }}</a>
            <span class="uk-preserve-width" v-if="header.transcription">{{ header.transcription }}</span>
            <span class="uk-width-small" v-if="header.speechPart">{{ header.speechPart }}</span>
          </h3>
          <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-table-shrink">Тематика</th>
                    <th class="uk-table-expand">Значения</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="subject in header.subjects">
                    <td>{{ subject.name }}</td>
                    <td>
                        <div v-for="meaning in subject.meanings">
                          {{ meaning.text }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        </div>
      </div>
      <div uk-spinner class="uk-flex uk-flex-center spinner"></div>
    </div>
  </body>

</html>